<%= render "/shared/listing_header" %>

<div class="listing_list">
  <% for listing in @listings %>
    <div class="card light-round-box">
      <%= image_tag listing.picture if listing.picture.attached? %>
      <h3><%= listing.title %></h3>
      <p>Location: <%= "#{listing.city}, #{listing.state}" %></p>
      <p>Date Of Birth: <%= listing.date_of_birth %></p>
      <p>Price: <%= listing.price %></p>
      <%= link_to "edit", edit_listing_path(listing.id) %>
    </div>
  <% end %>
</div>