<!DOCTYPE html>
<html>
  <head>
    <title>Snakebay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Snake Bay</h1>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
      <% if @heading != "Snakes For Sale" %>
        <a href= <%= listings_path %>>
          <div class="card light round-box">Back</div>
        </a>
      <% end %>
      <% if user_signed_in? %>
        <%= button_to "Add New Listing", new_listing_path, :method => "get", :class => "light round-box"%>
        <%= button_to "Logout", destroy_user_session_path(@user_current), :method => "delete", :class => "light round-box"%>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
